<div class="formas-cabecera">
    <h4>Categoría 1</h4>
    <form action="">   
        <label for="selectReporte"></label>             
        <select name="" id="selectReporte" value="0">
            <option selected disabled>Seleccionar Reporte</option>
        </select>
        <label for="acceder"></label>
        <input class="boton" type="submit" id="acceder" value="Acceder">
    </form>
</div>

<div class="formas-cuerpo"> 
    <h5>Informacion requerida</h5>
    <form action="">      
        <div>
            <label for="periodo"></label>
            <input class="input-periodo" id="periodo" type="text" placeholder="Ingrese periodo">    
        </div>  
        <label for="parametro1"></label>
        <input type="text" id="parametro1" placeholder="Ingrese parámetro 1">
        <label for="parametro2"></label>
        <input type="text" id="parametro2" placeholder="Ingrese parámetro 2"> 
        <div>
            <label for="ingresarArchivo"></label>
            <input class="input-subir-archivo" type="text" id="ingresarArchivo" placeholder="Ingrese archivo">
        </div>        
          
        <div class="grupo-botones">
            <input class="boton" type="submit" value="Planificar Reporte"/>   
            <button class="boton-secundario">Ejecutar Reporte</button>                
        </div>
        
    </form>    
</div>