<div class="menu-lateral">
    <h1>becajava2020</h1>
    <div class="menu-usuario">
        <img src="../../assets/imagenes/foto.png" alt="avatar de usuario">
        <p>Jose Lobos Sanhueza</p>
    </div>
    <div class="informacion-menu-lateral">                
        <h2>Informaciones</h2>        
        <ul>
            <li>                        
                <a routerLink="/vista3">Reportes</a>
            </li>
        </ul>
    </div> 
    <div class="cerrar-sesion">
        <a routerLink="/">Cerrar sesión</a>         
    </div>          
</div>
