
    <div>
        <h3>Categorías</h3>
        <ul>
            <li><a routerLink="/vista4">carpetas</a></li>
            <li><a routerLink="/vista4">carpetas</a></li>
            <li><a routerLink="/vista4">carpetas</a></li>
            <li><a routerLink="/vista4">carpetas</a></li>
            <li><a routerLink="/vista4">carpetas</a></li>
            <li><a routerLink="/vista4">carpetas</a></li>
            <li><a routerLink="/vista4">carpetas</a></li>
            <li><a routerLink="/vista4">carpetas</a></li>
        </ul>        
    </div>

