<div class="contenedor-general">
    <app-menu-lateral></app-menu-lateral>
    <div class="contenedor-derecho">
        <app-menu-superior></app-menu-superior>
        <app-cabecera-reportes></app-cabecera-reportes>
        <div class="cuerpo-contenedor-derecho">
            <app-contenido-carpetas></app-contenido-carpetas>
            <div class="cuerpo-vista3">
                <app-contenido-reportes></app-contenido-reportes>
            </div>
        </div>        
        
    </div>

</div>