/* You can add global styles to this file, and also import other style files */
html,body {
    height:100%;
    margin:0;
}
/* 
*, * *, * * *{
    Border: 1px solid red;
} */

body {
    background-color: #1B0088;
    font-family: Arial, regular;    
   
}
.contenedor-general{
    display:flex;
    height: 100%;   
}

.contenedor-derecho{
    width: 100%;
    background-color: #EDEDED;
}

.cuerpo-contenedor-derecho{
    display: flex;
    width: 100%;
    height: 80%

}